# kidsgramming-be

kidsgramming-be/public/build
kidsgramming-be/node_modules
kidsgramming-be/public/hot
kidsgramming-be/public/storage
kidsgramming-be/storage/*.key
kidsgramming-be/.env.backup
kidsgramming-be/.phpunit.result.cache
kidsgramming-be/Homestead.json
kidsgramming-be/Homestead.yaml
kidsgramming-be/auth.json
kidsgramming-be/npm-debug.log
kidsgramming-be/yarn-error.log
kidsgramming-be/.idea
kidsgramming-be/.vscode
kidsgramming-be/vendor/

# kidsgramming-fe

kidsgramming-fe/logs
kidsgramming-fe/*.log
kidsgramming-fe/npm-debug.log*
kidsgramming-fe/yarn-debug.log*
kidsgramming-fe/yarn-error.log*
kidsgramming-fe/pnpm-debug.log*
kidsgramming-fe/lerna-debug.log*
kidsgramming-fe/node_modules
kidsgramming-fe/dist
kidsgramming-fe/dist-ssr
kidsgramming-fe/*.local
kidsgramming-fe/.vscode/*
kidsgramming-fe/!.vscode/extensions.json
kidsgramming-fe/.idea
kidsgramming-fe/.DS_Store
kidsgramming-fe/*.suo
kidsgramming-fe/*.ntvs*
kidsgramming-fe/*.njsproj
kidsgramming-fe/*.sln
kidsgramming-fe/*.sw?